:root {


.profile-img {
width: 100%;
border-radius: 14px;
margin-bottom: 15px;
}


.name { font-size: 26px; font-weight: 700; }
.role { opacity: 0.7; margin-bottom: 25px; }


.nav { display: flex; flex-direction: column; gap: 12px; }
.nav-btn {
padding: 10px 15px;
background: transparent;
border: 1px solid var(--accent);
border-radius: 8px;
color: var(--accent);
cursor: pointer;
font-size: 16px;
transition: 0.2s;
}
.nav-btn.active, .nav-btn:hover {
background: var(--accent);
color: var(--bg-dark);
}


.contact-list { list-style: none; padding: 0; }
.contact-list a { color: var(--accent); text-decoration: none; }


/* MAIN CONTENT */
.main-content {
flex: 1;
padding: 50px;
}


.section-title {
font-size: 40px;
margin-bottom: 20px;
color: var(--accent);
font-weight: 800;
}


.text { max-width: 800px; line-height: 1.6; }


/* PAGES */
.page { display: none; }
.page.active { display: block; animation: fade 0.4s ease; }


@keyframes fade { from {opacity: 0;} to {opacity: 1;} }


/* CARDS */
.card {
background: var(--card-bg);
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
border-left: 4px solid var(--accent);
}


/* PORTFOLIO GRID */
.portfolio-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}
